@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400&display=swap');

$font-open-sans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

//COLORS////////////////////////////////////////////
$color-violet-dark: #50007fff;
$color-violet-light: #77007fff;
$color-mustard: #d9e021ff;
$color-green-forest: #527A43;
$color-black-dark: #4d4d4dff;
$color-black-text: #666666ff;
$color-grey-text: #999999ff;
$color-white: #ffffff;
